@model KaraageCounter.Models.Karaage

@{
    ViewBag.Title = "Create";
}
<div>
    @Html.ActionLink("戻る", "Index")
</div>
<br>
<br>

<div class="text-center">

    <p>@Html.DisplayFor(model => model.UserName)が食べた唐揚げの数</p>
    <span style="font-size: 256px;">@ViewBag.Count</span>個
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="submit" value="からあげ↑↑" class="btn btn-success btn-lg" />
        
        @Html.HiddenFor(model => model.UserName)
        
@*        @Html.DisplayFor(model => model.UserName, new { @class = "control-label col-md-2" })*@
    }
</div>


<p>IpAddress : @ViewBag.IpAddress</p>
<p>Country: @ViewBag.Country</p>
<p>Region: @ViewBag.Region</p>
<p>City: @ViewBag.City</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
