@model IEnumerable<KaraageCounter.Models.Karaage>
@{
    ViewBag.Title = "Index";
}
<br>
<div class="text-center">
    <p>みんなが食べた唐揚げの数</p>
    <span style="font-size: 256px;">@ViewBag.Count</span>個
    @using (Html.BeginForm("Create", "Karaages", FormMethod.Get))
    {
        <input type="submit" value="あなたが食べた唐揚げを登録" class="btn btn-lg" />
    }
</div>


    


@*<div class="text-center">*@
@**@
@*    <p>@Html.DisplayFor(model => model.UserName)が食べた唐揚げの数</p>*@
@*    <span style="font-size: 256px;">@ViewBag.Count</span>個*@
@*    @using (Html.BeginForm())*@
@*    {*@
@*        @Html.AntiForgeryToken()*@
@*        @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
@*        <input type="submit" value="Karaageクリック！" class="btn btn-success btn-lg" />*@
@**@
@*        @Html.HiddenFor(model => model.UserName)*@
@**@
@*        $1$        @Html.DisplayFor(model => model.UserName, new { @class = "control-label col-md-2" })#1#*@
@*    }*@
@*</div>*@
